.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 0 20px;
}

#connect {
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  display: inline-block;
}

#serial-output {
  border-radius: 4px;
  align-items: center;
  text-align: left;
  width: 80%;
  border: 1px solid #383c44;
  padding: 2px;
  min-height: 80vh;
  margin: 20px auto 0;
}