body {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 0 20px;
  font-size: calc(10px + 1vmin);
}

#error {
  padding-top: 30px;
  font-size: calc(12px + 1vmin);
}

#error >  div {
  padding-bottom: 20px;
}

#app {
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
}

#settings {
  border-radius: 4px;
  align-items: center;
  text-align: left;
  border: 1px solid #383c44;
  display: inline-block;
  padding: 5px 20px;
}

#settings > label > * {
  margin-left: 20px;
}

#connect > button {
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  min-width: 140px;
}

#serial-output {
  border-radius: 4px;
  align-items: center;
  text-align: left;
  width: 80%;
  border: 1px solid #383c44;
  padding: 2px;
  min-height: 80vh;
  margin: 20px auto 0;
}

#serial-output #history {
  color: #bbbbbb;
  margin-bottom: 5px;
}

#serial-output #history > div {
  margin-bottom: 5px;
}